body
{
	background-color: orange;
}
h1 {
	color : black;
	text-align: center;
	font-family: courier new;
}
h3{
	color : black;
	text-align:center;
	font-family: courier new;
}
table,th,td{
	border :2px solid black;
}
th{
	background-color: black;
	font-size: 20px;
	color:white;
	font-family: courier new;
}
td{
	color:black;
	text-align: center;
	font-family: courier new;
}
div{
	text-align: center;
	border:3px solid black;
}
